{% extends "base.html" %}

{% block main %}
<div class="container">
  <h2>Meal Plan</h2>
</div>
<div class="container" ng-controller="GenMealPlanCtrl">
    <button class="btn btn-default"><a href="{{url_for('newMealPlan')}}">
      Generate MealPlan</a></button>
    <div>
      <div class='col col-md-3'>
        rada
      </div>
      
      <div class='col col-md-3'>
        tere
      </div>
      
      <div class='col col-md-3'>
        adsf
      </div>
      
      <div class='col col-md-3'>
        adf
      </div>
      
    </div>
</div>
{% endblock %}
